body {
  padding: 30px;
  font: 18px "Century Gothic";
  color:#FFFFFF;
  background-color: #424242;
}

#headline {
  text-align: center;
  color:#FFFFFF;
  font: 36px "Century Gothic";
  text-shadow: 10px 11px 12px #000000;
}

.memes{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.linkanzeige{
  color:#FFFFFF;
  font: "Century Gothic";
  text-shadow: 5px 5px 5px #000000;
  text-align: center;
  width:50%;

  margin-left: auto;
  margin-right: auto;
}

#link{
  color:#FFFFFF;
  font: "Century Gothic";
  background-color:
}

#galerie {
/* Hintergrundfarbe */
background:#2E2E2E;
/* Runde Ecken */
-moz-border-radius:10px;
border-radius:10px;
/* Innenabstand */
padding:20px;
/* Breite */
width:50%;
/* AuÃŸenabstand */
margin:20px auto;
}




#galerie img {
/* Hintergrundfarbe der Bilder */
background:#ffffff;
/* Breite der Bilder */
width:150px;
/* AuÃŸenabstand */
margin-left: auto;
margin-right: auto;

padding:10px 10px 10px 10px;

/*Schlagschatten*/
-moz-box-shadow: 0 0 5px 2px #ccc;
-webkit-box-shadow: 0 0 5px 2px #ccc;
box-shadow: 0 0 5px 2px #ccc;
/*Bilder gedreht(Linksdrehung)anzeigen*/
-webkit-transform: rotate(-10deg);  /* Saf3.1+, Chrome */
-moz-transform: rotate(-10deg);  /* FF3.5+ */
-o-transform: rotate(-10deg);  /* Opera */
transform: rotate(-10deg);
/*damit Effekte animiert und nicht abgehackt sind*/
-webkit-transition: all 0.4s ease-out;  /* Saf3.1+, Chrome */
-moz-transition: all 0.4s ease-out;     /* FF3.5+ */
-o-transition: all 0.4s ease-out;  /* Opera */
transition: all 0.4s ease-out;
}

#galerie .row div:nth-child(3n) img{
-webkit-transform: rotate(30deg);  /* Saf3.1+, Chrome */
-moz-transform: rotate(30deg);  /* FF3.5+ */
-o-transform: rotate(30deg);  /* Opera */
transform: rotate(30deg);
}

/*Jedes zweite Bild wird rechtsrum gedreht...*/
#galerie .row div:nth-child(2n) img{
-webkit-transform: rotate(15deg);  /* Saf3.1+, Chrome */
-moz-transform: rotate(15deg);  /* FF3.5+ */
-o-transform: rotate(15deg);  /* Opera */
transform: rotate(15deg);
}
