<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/impressum.css">
    <title>Troll Me</title>
  </head>
  <body>
    <div id="wrapper" class="container">
      <header>
        <a href="/">
        <h1 class= "animated pulsierend" id="headline">Troll Me</h1>
        </a>
      </header>
      <div id="impressum">
        <h3>Impressum</h3></br>
        <h4>Anbieter</h4>
        <p>d1gital shad0w corp.<br></p>

      </div>
    </div>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
