<html>
  <head>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/main.css">
  <title>Troll Me</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
          <h1 id="headline">Troll Me</h1>
      </header>
      <div id="galerie">
        <div class="row">
          {% for i in items %}
            <div class="col-md-4">
              <a href="/item.html?id={{ i.mid }}">
                <img class="memes img-responsive img-thumbnail" src="{{ i.murl }}" alt="Meme image">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <footer>
        <p>Designed and built with all the love in the world by Ludwig, Tim, Dominik, Vero, Lea</p>
        <p>PIT-Hackathon 2016</p>
        <a class="iLink" href="/impressum.html">Impressum</a>
      </footer>
    </div>
  </body>
</html>
