<html>
  <head>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>Troll Me</title>
  </head>
  <body>
    <div id="wrapper">
    <header>
        <h1 id="headline">Troll Me</h1>
    </header>
    <div id="galerie">
      <div class="row">
        {% for i in items %}
        <div class="col-md-4"><img class="memes img-responsive img-thumbnail" src="{{ i.murl }}" alt="Meme image"></div>
        {% endfor %}
      </div>
    </div>
    <footer>
    </footer>
      </div>
  </body>
</html>
